<ion-view title="Log In">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		<span class="location-icon icon-lock"></span>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
			<div ng-hide="success">
				<p>{{ error }}</p>
			</div>

<!-- 			<div ng-controller="FacebookController">
				<button data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">
					Login with Facebook
				</button>
				<button data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">
					Logout
				</button>
			</div>
 -->
			<div ng-controller="LoginController">
				<form ng-submit="login()">
					<input type="hidden" name="params_root" value="login" />
					<div class="input-wrapper">
						<label for="username">Username:</label>
						<input id="username" name="login[username]" ng-model="username" placeholder="Username" type="email" />
					</div>
					<div class="input-wrapper">
						<label for="password">Password:</label>
						<input id="password" name="login[password]" type="password" ng-model="password" placeholder="Password" />
					</div>
					<div class="actions">
						<button type="submit">Login</button>
					</div>
				</form>
			</div>

			<div ng-controller="SignupController">
				<form ng-submit="signup()">
					<input type="hidden" name="params_root" value="signup" />
					<div class="input-wrapper">
						<label for="signup_first_name_">First Name:</label>
						<input id="signup_first_name_" name="signup[firstName]" ng-model="firstName" placeholder="First Name" />
					</div>
					<div class="input-wrapper">
						<label for="signup_last_name_">Last Name:</label>
						<input id="signup_last_name_" name="signup[lastName]" ng-model="lastName" placeholder="Last Name" />
					</div>
					<div class="input-wrapper">
						<label for="signup_email_">Email:</label>
						<input id="signup_email_" name="signup[email]" ng-model="email" placeholder="Email Address" type="email" />
					</div>
					<div class="input-wrapper">
						<label for="signup_password_">Password:</label>
						<input id="signup_password_" name="signup[password]" type="password" ng-model="password" placeholder="Password" />
					</div>
					<div class="input-wrapper">
						<label for="signup_password_confirmation_">Confirm Password:</label>
						<input id="signup_password_confirmation_" name="signup[passwordConfirmation]" type="password" ng-model="passwordConfirmation" placeholder="Confirm Password" />
					</div>
					<div class="actions">
						<button type="submit">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>
