<ion-view title="Check In">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
			<p class="instruction">
				Hold your phone up to a <em class='wordmark'>SPRTID</em> check-in kiosk.
			</p>
			<div class="user-name h1">
				{{ user | fullName }}
			</div>
			<sprtid-databit-barcode databit="user.dataBits | findBarcodeDatabit"></sprtid-databit-barcode>
		</div>
	</ion-content>
</ion-view>
