<ion-view title="Edit">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		<span class="location-icon icon-file"></span>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
			<form>
				<fieldset>
					<label>
						<span>Add Information About Yourself</span>
					</label>
					<div class="input-wrapper">
						<label for="type">Type</label>
						<select id="type" ng-model="type">
							<option></option>
							<option value="BirthdayDataBit">Birthdate</option> <!-- maybe don't show if we already have it? -->
							<option value="HealthDataBit">Health</option>
						</select>
					</div>
					<div class="input-wrapper" ng-show="type=='BirthdayDataBit'">
						<label for="birthday">Birthday</label>
						<input type="date" id="birthday" ng-model="birthday" />
					</div>
					<div class="input-wrapper" ng-show="type=='HealthDataBit'">
						<label for="condition">Condition</label>
						<input id="condition" ng-model="condition" />
					</div>
					<div class="input-wrapper" ng-show="type=='HealthDataBit'">
						<label for="treatment">Treatment*</label>
						<textarea id="treatment" ng-model="treatment"></textarea>
						<p class="instruction">
							* - in the event this condition appears, how should you/your child be treated?
						</p>
					</div>
					<div class="input-wrapper" ng-show="type=='HealthDataBit'">
						<label>Contact Me</label>
						<input type="radio" id="contact_me_phone" ng-model="contactMe" value="phone" />
						<label for="contact_me_phone">by Phone Call</label>
						<input type="radio" id="contact_me_text" ng-model="contactMe" value="text" />
						<label for="contact_me_text">by Text</label>
						<input type="radio" id="contact_me_email" ng-model="contactMe" value="email" />
						<label for="contact_me_email">by Email</label>
						<input type="radio" id="contact_me_na" ng-model="contactMe" value="" />
						<label for="contact_me_na">not necessary</label>
					</div>
				</fieldset>
				<div class="actions">
					<button>Cancel</button>
					<button type="submit">Save</button>
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>