<ion-view title="sprt&middot;id">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="row" ng-hide="loggedIn()">
			<div class="col col-50">
				<div class="tile tile-icon">
					<a href="#/app/login" class="tile-content">
						<span class="icon ion-log-in"></span>
						<span class="label">Log In</span>
					</a>
				</div>
			</div>
			<div class="col col-50">
				<div class="tile tile-icon">
					<a href="#/app/signup" class="tile-content">
						<span class="icon ion-log-in"></span>
						<span class="label">Register</span>
					</a>
				</div>
			</div>
		</div>

		<sprtid-history user="user" ng-show="loggedIn()"></sprtid-history>
	</ion-content>
</ion-view>
