<ion-view title="&lt;em class='wordmark'&gt;SPRTID&lt;/em&gt;">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="row">
			<div class="col col-33">
				<img src="img/icon-identity-logo.png" width="100%" height="auto" />
			</div>
			<div class="col col-67">
				<h3>
					Welcome to <em class='wordmark'>SPRTID</em><span ng-show="loggedIn()">, {{ user.firstName }}</span>
				</h3>
				<p>
					<em class='wordmark'>SPRTID</em> allows you to quickly check into your events.
					<p ng-hide="loggedIn()">
						Login or Signup now to get started.
					</p>
					<p>
						<span ng-hide="loggedIn()">Once you are in,</span>
						<span ng-show="loggedIn()">Now that you are logged in,</span>
						be sure to upload a picture of yourself along with any emergency contact or medical information you would want first-responders to know about you.
					</p>
				</p>
			</div>
		</div>
		<div ng-hide="loggedIn()">
			<a class="button button-block button-balanced icon-left ion-log-in" ui-sref="app.login">
				Log In
			</a>
			<a class="button button-block button-balanced icon-left ion-ios7-personadd" ui-sref="app.signup">
				Sign Up
			</a>
			<button class="button button-block button-light" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>
		</div>

		<sprtid-history user="user" ng-show="loggedIn()"></sprtid-history>
	</ion-content>
</ion-view>
