<ion-view title="Log In">
	<ion-nav-buttons side="left">
		<span class="location-icon icon-lock"></span>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
			<div ng-hide="success">
				<p>{{ error }}</p>
			</div>

			<div ng-controller="FacebookController">
				<button data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">
					Login with Facebook
				</button>
				<button data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">
					Logout
				</button>
			</div>

			<form ng-submit="login()">
				<div class="input-wrapper">
					<label for="username">Username:</label>
					<input id="username" name="username" type="text" ng-model="auth.username" placeholder="Username" type="email" />
				</div>
				<div class="input-wrapper">
					<label for="password">Password:</label>
					<input id="password" name="password" type="password" ng-model="auth.password" placeholder="Password" />
				</div>
				<div class="actions">
					<button type="submit">Login</button>
				</div>
			</form>

			<p>
				Don&apos;t have an account?
				<a href="#/app/signup">Sign up.</a>
			</p>
		</div>
	</ion-content>
</ion-view>
