<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
		<header class="bar bar-header bar-light">
			<h1 class="title">Main Menu</h1>
		</header>
		<ion-content class="has-header">
			<ion-list>
				<ion-item nav-clear menu-close href="#/app/home">
					<span class="icon icon-home"></span>
					Home
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/login" ng-hide="loggedIn()">
					<span class="icon icon-lock"></span>
					Log In/Sign Up
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/user" ng-show="loggedIn()">
					<span class="icon icon-pencil"></span>
					{{ getUser() | fullName:'Profile' }}
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/checkin">
					<span class="icon icon-compass"></span>
					Check In
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/scan">
					<span class="icon icon-qrcode"></span>
					Scan an Id
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/login" ng-show="loggedIn()" class="assertive">
					<span class="icon icon-unlocked"></span>
					Log Out
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
