<ion-side-menus ng-class="{offline: isOffline, 'performing-action': indicators.ajaxing}">
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-light nav-title-slide-ios7" ng-class="{'action-indicator-bar': true}">
			<ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
		<header class="bar bar-header" ng-class="{'bar-light': !isOffline, 'bar-stable': isOffline}">
			<h1 class="title">Main Menu</h1>
		</header>
		<ion-content class="has-header">
			<ion-list>
				<ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.home">
					<i class="icon ion-home"></i>
					Home
				</ion-item>
				<ion-item menu-close class="item-icon-left" ui-sref="app.login" ng-hide="loggedIn()">
					<i class="icon ion-log-in"></i>
					Log In
				</ion-item>
				<ion-item menu-close class="item-icon-left" ui-sref="app.signup" ng-hide="loggedIn()">
					<i class="icon ion-log-in"></i>
					Sign Up
				</ion-item>
				<ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.profile" ng-show="loggedIn()">
					<i class="icon ion-profile"></i>
					{{ getUser() | fullName:'Profile' }}
				</ion-item>
				<ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.preregister" ng-show="loggedIn()">
					<i class="icon ion-ios7-flag"></i>
					Attend Event (Pre-register)
				</ion-item>
				<ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.memberships" ng-show="loggedIn()">
					<i class="icon ion-ios7-people"></i>
					Memberships
				</ion-item>
				<ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.checkin">
					<i class="icon ion-compass"></i>
					Check In
				</ion-item>
				<ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.scan">
					<i class="icon ion-qrcode"></i>
					Scan Id
				</ion-item>
				<ion-item nav-clear menu-close class="item-icon-left assertive" ui-sref="app.logout" ng-show="loggedIn()">
					<i class="icon ion-log-in"></i>
					Log Out
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
