<ion-view title="Pre-Register">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="row">
			<div class="col">
				<h2>Choose Organization</h2>
				<!-- <sprtid-event ng-repeat="event in events" event="event" current="isCurrentEvent(event)"></sprtid-event> -->
				<div class="item">
					<ion-radio ng-repeat="o in organizations" ng-model="organizationId" name="organization" ng-value="o.id" ng-click="setCurrentOrganization(o)">
						{{ o.name }}
					</ion-radio>
				</div>
			</div>
		</div>

		<div ng-show="hasOrganizations()">
			<h2>Choose Event</h2>
			<div ng-show="fetchingEvents">
				<em>requesting events for {{ getCurrentOrganization("name", "This organization") }}...</em>
			</div>
			<div ng-hide="fetchingEvents">
				<div ng-show="hasEvents() === false" class="banner error">
					{{ getCurrentOrganization("name", "This organization") }} has no upcoming events
				</div>
				<div ng-show="hasEvents()" class="item">
					<!-- order events by date -->
					<!-- indicate whether this event is in the past -->
					<ion-radio ng-repeat="e in unregisteredEvents" ng-model="eventId" name="event" ng-value="e.id" ng-click="setCurrentEvent(e)">
						{{ e.name }}
					</ion-radio>
				</div>
			</div>
		</div>

		<!-- hide if already pre-registered -->

		<form ng-submit="preregister()">
			<div ng-show="hasCurrentEvent()">
				<div class="row">
					<div class="col col-90 col-offset-10">
						<p>
							<em>
								Read &amp; accept the waiver to complete pre-registration.
								<span ng-show="!accept">Thanks!</span>
							</em>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col col-10">
						<label class="checkbox">
							<input type="checkbox" ng-model="accept">
						</label>
					</div>
					<div class="col col-90">
						{{ current.event.waiver }}
					</div>
				</div>
			</div>
			<div class="actions">
				<button type="submit" class="button icon-left ion-checkmark-circled button-block button-positive" ng-disabled="!accept">
					Complete Pre-Registration
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>
