<ion-view title="{{title}}" ><!--  style="background-image: url('{{ user.image.secure_url }}'); height: {{user.image.height}}px;" -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-plus" ng-click="newDatabit()"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
			<ion-slide-box show-pager="true" on-slide-changed="setTitle($index)">
				<ion-slide>
					<div class="row">
						<div class="col col-50" ng-hide="user.dataBits | findPhotoDatabits">
							<div class="tile tile-icon">
								<a class="tile-content" ng-click="newPhotoDatabit()">
									<span class="icon ion-camera"></span> <!-- ion-ios7-camera-outline -->
									<span class="label">Take Picture</span>
								</a>
							</div>
						</div>
						<div class="col col-50" ng-hide="user.dataBits | findPhotoDatabits">
							<div class="tile tile-icon">
								<a class="tile-content" ng-click="newPhotoDatabit()">
									<span class="icon ion-image"></span>
									<span class="label">Upload Picture</span>
								</a>
							</div>
						</div>
					</div>
					<sprtid-user user="user" on-delete-databit="deleteDatabit(databit)"></sprtid-user>
				</ion-slide>
				<ion-slide ng-repeat="dependant in user.dependants">
					<sprtid-user user="dependant"></sprtid-user>
				</ion-slide>
				<ion-slide>
					<sprtid-user edit="true"></sprtid-user>
				</ion-slide>
			</ion-slide-box>
		</div>
	</ion-content>
</ion-view>
