<ion-view title="{{ title }}">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
			<h2 ng-click="click()">scan stuff</h2>
			<h3>{{ title }}</h3>
			<div id="scan-results">
				<div ng-show="success">
					<pre>{{ response }}</pre>
				</div>
				<div ng-hide="success">
					<form ng-submit="gotoUser()">
						<label for="barcode">Enter Code:</label>
						<input id="barcode" name="barcode" ng-model="barcode" />
						<button type="submit">Get Id</button>
					</form>
				</div>
			</div>
			<cordova-barcode-scanner on-success="onSuccess(results)" on-error="onError(results)"></cordova-barcode-scanner>
		</div>
	</ion-content>
</ion-view>