<ion-view title="Sign Up">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		<span class="location-icon icon-lock"></span>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
			<div ng-hide="success">
				<p>{{ error }}</p>
			</div>

			<div ng-controller="FacebookController">
				<button data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">
					Login with Facebook
				</button>
			</div>

			<form ng-submit="signup()">
				<div class="input-wrapper">
					<label for="first-name">First Name:</label>
					<input id="first-name" name="first-name" ng-model="firstName" placeholder="First Name" />
				</div>
				<div class="input-wrapper">
					<label for="last-name">Last Name:</label>
					<input id="last-name" name="last-name" ng-model="lastName" placeholder="Last Name" />
				</div>
				<div class="input-wrapper">
					<label for="email">Email:</label>
					<input id="email" name="email" ng-model="email" placeholder="Email Address" type="email" />
				</div>
				<div class="input-wrapper">
					<label for="password">Password:</label>
					<input id="password" name="password" type="password" ng-model="password" placeholder="Password" />
				</div>
				<div class="input-wrapper">
					<label for="password-confirmation">Confirm Password:</label>
					<input id="password-confirmation" name="password-confirmation" type="password" ng-model="passwordConfirmation" placeholder="Confirm Password" />
				</div>
				<div class="actions">
					<button type="submit">Sign Up</button>
				</div>
			</form>

			<p>
				Already have an account?
				<a href="#/app/login">Log in.</a>
			</p>
		</div>
	</ion-content>
</ion-view>
