<ion-view title="{{ user | fullName:'My Profile' }}" ><!--  style="background-image: url('{{ user.image.secure_url }}'); height: {{user.image.height}}px;" -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
<!--
			<div class="id-image" style="background-image: url('{{ user.image.secure_url }}'); height: {{user.image.height}}px;">
				{{ image.secure_url || NO_IMAGE }}
			</div>
-->

			<sprtid-user user="user" edit="editable && ModelState == ModelState.write"></sprtid-user>
			<hr />
			<button class="button button-outline button-calm button-icon ion-plus" ng-click="newDatabit()" ng-show="editable">
				New Data Bit
			</button>
			<div class="list list-inset">
				<sprtid-databit ng-repeat="dataBit in user.dataBits" databit="dataBit" class="{{dataBit.type | asClassname}}"></sprtid-databit>
			</div>
			<hr />
			<pre>{{ user | jsonFormatter }}</pre>
		</div>
	</ion-content>
</ion-view>
