<ion-view title="{{ title }}" ><!--  style="background-image: url('{{ user.image.secure_url }}'); height: {{user.image.height}}px;" -->
	<ion-nav-buttons side="left">
		<span class="location-icon icon-user2"></span>
	</ion-nav-buttons>
	<ion-content class="has-header" padding="true">
		<div class="page-content">
<!--
			<div class="id-image" style="background-image: url('{{ user.image.secure_url }}'); height: {{user.image.height}}px;">
				{{ image.secure_url || NO_IMAGE }}
			</div>
-->
			<form ng-submit="save()">
				<fieldset class="list">
					<input name="id" ng-model="user.id" type="hidden" />
					<div class="input-wrapper item item-input">
						<label for="first-name">First Name:</label>
						<input id="first-name" name="first-name" ng-model="user.firstName" placeholder="First Name" />
					</div>
					<div class="input-wrapper item item-input">
						<label for="last-name">Last Name:</label>
						<input id="last-name" name="last-name" ng-model="user.lastName" placeholder="Last Name" />
					</div>
					<div class="input-wrapper item item-input">
						<label for="email">Email:</label>
						<input id="email" name="email" ng-model="user.email" placeholder="Email Address" type="email" />
					</div>
				</fieldset>
				<div class="actions padding">
					<button type="submit" class="button button-block button-positive">Save</button>
				</div>
			</form>
			<hr />
			<button class="button button-icon ion-plus" ng-click="newDatabit()">New Data Bit</button>
			<!-- ng-disabled="checked" -->
<!-- 			<div ng-repeat="dataBit in user.dataBits" class="{{dataBit.type | asClassname}}">
				<hr />
				<pre>{{ dataBit | jsonFormatter }}</pre>
			</div>
 -->			<hr />
			<pre>{{ user | jsonFormatter }}</pre>
		</div>
	</ion-content>
</ion-view>
