// $font-family-headline: Matchbook, Impact, sans-serif;
// $font-family-content: OpenSans, Helvetica, sans-serif;


$foreground: 1;
$background: 2;

// internal variables!
$white: #ecf0f1;
$black: #04192e;
$grey: #95a5a6;
$red: #e74c3c; // #ef5734
$orange: #e67e22;
$yellow: #f1c40f; // #ffcc2f
$green: #2ecc71; // #2baf2b
$light-blue: #b4d8e7;
$blue: #3498db; // #00acee
$purple: #9b59b6;
$dark-grey: #444444;

$background-color-mix-pct: 90%;
$background-color-mix: $black;
$color-scheme-white:      $white,      mix($white, $background-color-mix, $background-color-mix-pct);
$color-scheme-black:      $black,      mix($black, black, $background-color-mix-pct);
$color-scheme-grey:       $grey,       mix($grey, $background-color-mix, $background-color-mix-pct);
$color-scheme-red:        $red,        mix($red, $background-color-mix, $background-color-mix-pct);
$color-scheme-orange:     $orange,     mix($orange, $background-color-mix, $background-color-mix-pct);
$color-scheme-yellow:     $yellow,     mix($yellow, $background-color-mix, $background-color-mix-pct);
$color-scheme-green:      $green,      mix($green, $background-color-mix, $background-color-mix-pct);
$color-scheme-light-blue: $light-blue, mix($light-blue, $background-color-mix, $background-color-mix-pct);
$color-scheme-blue:       $blue,       mix($blue, $background-color-mix, $background-color-mix-pct);
$color-scheme-purple:     $purple,     mix($purple, $background-color-mix, $background-color-mix-pct);
$color-scheme-disabled:   $dark-grey,  mix($dark-grey, black, $background-color-mix-pct);


$color-scheme-foreground: $color-scheme-white;
$color-scheme-foreground-primary:   nth($color-scheme-foreground, $foreground);
$color-scheme-foreground-secondary: nth($color-scheme-foreground, $background);

$color-scheme-background: $color-scheme-black;
$color-scheme-background-primary:   nth($color-scheme-background, $foreground);
$color-scheme-background-secondary: nth($color-scheme-background, $background);

$color-scheme-scan: $color-scheme-green;
$color-scheme-scan-primary:   nth($color-scheme-scan, $foreground);
$color-scheme-scan-secondary: nth($color-scheme-scan, $background);

$color-scheme-create: $color-scheme-orange;
$color-scheme-create-primary:   nth($color-scheme-create, $foreground);
$color-scheme-create-secondary: nth($color-scheme-create, $background);

$color-scheme-shop: $color-scheme-blue;
$color-scheme-shop-primary:   nth($color-scheme-shop, $foreground);
$color-scheme-shop-secondary: nth($color-scheme-shop, $background);

$color-scheme-settings: $color-scheme-yellow;
$color-scheme-settings-primary:   nth($color-scheme-settings, $foreground);
$color-scheme-settings-secondary: nth($color-scheme-settings, $background);

$color-scheme-auth: $color-scheme-grey;
$color-scheme-auth-primary:   nth($color-scheme-auth, $foreground);
$color-scheme-auth-secondary: nth($color-scheme-auth, $background);

$color-scheme-checkin: $color-scheme-purple;
$color-scheme-checkin-primary:   nth($color-scheme-checkin, $foreground);
$color-scheme-checkin-secondary: nth($color-scheme-checkin, $background);

$color-scheme-user: $color-scheme-red;
$color-scheme-user-primary:   nth($color-scheme-user, $foreground);
$color-scheme-user-secondary: nth($color-scheme-user, $background);

$color-scheme-user: $color-scheme-disabled;
$color-scheme-disabled-primary:   nth($color-scheme-disabled, $foreground);
$color-scheme-disabled-secondary: nth($color-scheme-disabled, $background);

$default-spacing: 25px;

$transition-on-speed: 333;
$transition-off-speed: 2 * $transition-on-speed;

$nope: 0;
$golden-ratio: 1.61803399;


// ------------------ ionic -----------------------
$key: $foreground;
$light:      nth($color-scheme-black, $key);
$stable:     nth($color-scheme-grey, $key);
$positive:   nth($color-scheme-blue, $key);
$calm:       nth($color-scheme-light-blue, $key);
$balanced:   nth($color-scheme-green, $key);
$energized:  nth($color-scheme-orange, $key);
$assertive:  nth($color-scheme-red, $key);
$royal:      nth($color-scheme-purple, $key);
$dark:       nth($color-scheme-white, $key);

$key: $background;
$lighter:     nth($color-scheme-black, $key);
$stabler:     nth($color-scheme-grey, $key);
$positiver:   nth($color-scheme-blue, $key);
$calmer:      nth($color-scheme-light-blue, $key);
$balanceder:  nth($color-scheme-green, $key);
$energizeder: nth($color-scheme-orange, $key);
$assertiver:  nth($color-scheme-red, $key);
$royaler:     nth($color-scheme-purple, $key);
$darker:      nth($color-scheme-white, $key);

$seriously-light: black;
$seriously-dark:  white;

// ----- overrides -----
$font-family-sans-serif:          "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-light-sans-serif:    "Roboto-Light", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-serif:               Georgia, "Times New Roman", Times, serif;

$menu-bg:                         $seriously-light;
$base-background-color:           $light;
$base-color:                      $dark;
$input-color:                     $darker;
$input-color-placeholder:         mix($light, $dark, 75%);
$toggle-handle-dragging-bg-color: mix($seriously-light, $seriously-dark, 95%);
$toggle-off-bg-color:             mix($light, $dark, 90%);
$toggle-off-border-color:         mix($light, $dark, 75%);
$checkbox-off-bg-color:           $light;
$checkbox-check-color:            $dark;
$range-default-track-bg:          mix($light, $dark, 75%);
$modal-bg-color:                  $seriously-light;
$sheet-bg-color:                  rgba($seriously-light, 0.6);
$popup-background-color:          rgba($seriously-light, 0.9);
$loading-text-color:              $light;
$loading-bg-color:                rgba($seriously-dark, 0.7);
$loading-backdrop-bg-color:       rgba($seriously-dark, 0.7);
$badge-default-text:              mix($light, $dark, 66.67%); // AA/FF

$button-light-bg:                 $light;
$button-light-text:               mix($light, $dark, 25%);   // 44 / FF
$button-light-border:             mix($light, $dark, 86.67%); // DD / FF
$button-light-active-bg:          mix($light, $dark, 98%); // FA / FF
$button-light-active-border:      mix($light, $dark, 80%); // CC / FF

$button-dark-bg:                  $dark;
$button-dark-text:                mix($dark, $light, 25%);   // 44 / FF
$button-dark-border:              mix($dark, $light, 86.67%); // DD / FF
$button-dark-active-bg:           mix($dark, $light, 98%); // FA / FF
$button-dark-active-border:       mix($dark, $light, 80%); // CC / FF

$input-active-bg:                 mix($light, $dark, 98%); // #f7f7f7;


$bar-light-bg:                    $lighter;
$bar-stable-bg:                   $stabler;
$bar-positive-bg:                 $positiver;
$bar-calm-bg:                     $calmer;
$bar-assertive-bg:                $assertiver;
$bar-balanced-bg:                 $balanceder;
$bar-energized-bg:                $energizeder;
$bar-royal-bg:                    $royaler;
$bar-dark-bg:                     $darker;
$bar-default-bg:                  $darker;

// $card-header-bg:                  mix($light, $dark, 0.96); // F5 / FF
$card-body-bg:                    $lighter;
// $card-footer-bg:                  mix($light, $dark, 0.96); // F5 / FF
// $card-border-color:               mix($light, $dark, 0.80); // CC / FF
$card-box-shadow:                 1px 2px 0 rgba($light, 0.1);

$item-divider-bg:                 mix($light, $dark, 96%); // F5 / FF
$item-divider-color:              mix($light, $dark, 13.5%); // 22 / FF
$item-default-active-bg:          mix($light, $dark, 86.67%); // DD / FF
