### apache cordova .gitignore (https://github.com/apache/cordova-android/blob/master/.gitignore)

.DS_Store
default.properties
gen
assets/www/cordova.js
framework/assets/www/.tmp*
platforms/android/local.properties
platforms/android/CordovaLib/local.properties
framework/lib
proguard.cfg
proguard.cfg
proguard-project.txt
framework/bin
framework/test/org/apache/cordova/*.class
framework/assets/www/.DS_Store
framework/assets/www/cordova-*.js
framework/assets/www/phonegap-*.js
framework/libs
framework/javadoc-public
framework/javadoc-private
test/libs
example
./test
test/bin
test/assets/www/.tmp*
test/assets/www/cordova.js
test/cordova/plugins/org.apache.cordova.device/www/device.js
test/cordova/plugins/org.apache.cordova.device/src/android/Device.java
tmp/**
.metadata
tmp/**/*
Thumbs.db
Desktop.ini
*.tmp
*.bak
*.swp
*.class
*.jar

# IntelliJ IDEA files
*.iml
.idea
### (end) apache cordova .gitignore

### exclude build files
platforms/android/assets/www/*
platforms/ios/www/*
*.apk
*.ap_
platforms/android/**/*.prop
platforms/ios/SprtidIdentity.xcodeproj/*
.sass-cache/
###

# Emulator logs
platforms/ios/cordova/console.log

### exclude ide files
*.sublime-workspace
*.xcuserstate
###

/*.zip

resources/splash/android/*.png
resources/splash/ios/*.png
