<?xml version='1.0' encoding='utf-8'?>
<widget id        = "com.sprtid.identity"
	    version   = "0.0.0"
	    xmlns     = "http://www.w3.org/ns/widgets"
	    xmlns:cdv = "http://cordova.apache.org/ns/1.0"
	    xmlns:gap = "http://phonegap.com/ns/1.0">
	<name>sprtid-identity</name>
	<description>
		sprt~id identity application
	</description>
	<author email="pat@sprtid.com" href="http://sprtid.com/">
		Sprt~Id
	</author>
	<content src="index.html" />

	<access origin="http://127.0.0.1*"/> <!-- allow local pages -->
	<access origin="http://api.sprtid.com/*" />
	<access origin="http://sprtid-api.herokuapp.com/*" />

	<preference name="fullscreen" value="false" />
	<preference name="orientation" value="portrait"/>
	<preference name="webviewbounce" value="true" />
	<preference name="UIWebViewBounce" value="true" />
	<preference name="DisallowOverscroll" value="true" />

	<gap:plugin name="com.phonegap.plugins.barcodescanner" version="1.1.0" />


	<!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage
	 to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
	-->
	<preference name="BackupWebStorage" value="none" />

	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>
</widget>
