@import '_mixins';

body.home-screen {
	min-height: 100%;
	@include clearfix;

	$navigation-tile-width: 48%;
	$navigation-tile-spacing: 4%;

	.home-navigation {
		margin: 0 auto;
		width: 95%;
		list-style-type: none;

		@include clearfix;
	}

	.navigation-link {
		position: relative;
		width: $navigation-tile-width;
		padding-bottom: $navigation-tile-width; // make it a square
		box-sizing: border-box;
		display: block;
		float: left;

		&:nth-child(2n+1) {
			margin-right: $navigation-tile-spacing;
		}
		&:nth-child(n+3) {
			margin-top: $navigation-tile-spacing;
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			width: 100%;
			color: $color-scheme-foreground-primary;
			text-align: center;
			text-decoration: none;
			vertical-align: middle; // ew!

			$features: 'create' $color-scheme-create-primary,
			           'scan' $color-scheme-scan-primary,
			           'settings' $color-scheme-settings-primary,
			           'shop' $color-scheme-shop-primary,
			           'id' $color-scheme-id-primary,
			           'auth' $color-scheme-auth-primary,
			           'checkin' $color-scheme-checkin-primary;
			@each $feature in $features {
				$class: nth($feature, 1);
				$color: nth($feature, 2);

				&.#{$class} {
					background-color: $color;
				}
			}

			.icon {
				&:before {
					$font-size: 100px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: $font-size / -2;
					margin-left: $font-size / -2;
					display: block;
					font-size: $font-size;
					color: $color-scheme-foreground-primary;
				}
			}
			.navigation-label {
				position: absolute;
				right: 5%;
				bottom: 5%;
			}
		}
	}
}