<div> <!-- ng-controller="CheckinController" -->
	<div id="top-banner">
		<a href="#!/" class="navigation-back icon-home"></a>
		<span class="location-icon icon-compass"></span>
		<h1 class="navigation-location">check in</h1>
	</div>

	<div class="page-content">
		<p class="instruction">
			Hold your phone up to a sprt&middot;id check-in kiosk.
		</p>

		<div class="user-name h1">
			{{ user.firstName }} {{ user.lastName }}
		</div>
		<div class="user-barcode-image">
			<!-- <qrcode version="2" error-correction-level="M" size="400" data="{{ user.dataBits | findEncodableBarcode }}"></qrcode> -->
			<qrcode version="2" error-correction-level="M" size="400" data="{{ user.dataBits | findBarcode }}"></qrcode>
		</div>
		<div class="user-barcode-value">
			{{ user.dataBits | findBarcode }}
		</div>
<!--
		<hr />
		<pre>{{ user | jsonFormatter }}</pre>
-->
	</div>
</div>
