<div> <!-- ng-controller="HomeController" -->
	<div id="top-banner">
		<span class="location-icon icon-sprtid-logo"></span>
		<h1 class="navigation-location">home</h1>
	</div>

	<div class="page-content">
		<ul class="home-navigation">
			<li class="navigation-link">
				<a href="#!/scan" class="navigation scan">
					<span class="icon icon-qrcode"></span>
					<span class="navigation-label">Scan</span>
				</a>
			</li>
			<li class="navigation-link">
				<a href="#!/checkin" class="navigation checkin">
					<span class="icon icon-compass"></span>
					<span class="navigation-label">Check In</span>
				</a>
			</li>
			<li class="navigation-link">
				<a href="#!/create" class="navigation create">
					<span class="icon icon-pencil"></span>
					<span class="navigation-label">Edit</span>
				</a>
			</li>
<!--
			<li class="navigation-link">
				<a href="#!/shop" class="navigation shop">
					<span class="icon icon-cart"></span>
					<span class="navigation-label">Shop</span>
				</a>
			</li>
-->
<!--
			<li class="navigation-link">
				<a href="#!/settings" class="navigation settings">
					<span class="icon icon-settings"></span>
					<span class="navigation-label">Settings</span>
				</a>
			</li>
-->
			<li class="navigation-link">
				<a href="#!/login" class="navigation auth" ng-hide="identified">
					<span class="icon icon-lock"></span>
					<span class="navigation-label">Log In/Sign Up</span>
				</a>
				<a href="#!/logout" class="navigation auth" ng-show="identified">
					<span class="icon icon-unlocked"></span>
					<span class="navigation-label">Logout</span>
				</a>
			</li>
			<li class="navigation-link">
				<a href="#!/auth" class="navigation auth" ng-hide="identified">
					<span class="icon icon-lock"></span>
					<span class="navigation-label">Authenticate</span>
				</a>
				<a href="#!/logout" class="navigation auth" ng-show="identified">
					<span class="icon icon-unlocked"></span>
					<span class="navigation-label">Logout</span>
				</a>
			</li>
		</ul>
	</div>
</div>
