<div> <!-- ng-controller="LoginController" -->
	<div id="top-banner">
		<a href="#!/" class="navigation-back icon-home"></a>
		<span class="location-icon icon-lock"></span>
		<h1 class="navigation-location">login</h1>
	</div>

	<div class="page-content">
		<div ng-controller="FacebookAuthController">
			<button data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">
				Login with Facebook
			</button>
			<button data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">
				Logout
			</button>
		</div>
<!--
		<div ng-hide="success">
			<p>{{ error }}</p>
		</div>
		<form ng-submit="login()">
			<label for="username">Username:</label>
			<input id="username" name="username" ng-model="username" />
			<label for="password">Password:</label>
			<input id="password" name="password" type="password" ng-model="password" />
			<button type="submit">Login</button>
		</form>
-->
	</div>
</div>
