<div> <!-- ng-controller="UserController" -->
	<div id="top-banner">
		<a href="#!/" class="navigation-back icon-home"></a>
		<span class="location-icon icon-user2"></span>
		<h1 class="navigation-location">user</h1>
	</div>

	<div class="page-content">
<!--
		<div class="id-image" style="background-image: url('{{ user.image.secure_url }}'); height: {{user.image.height}}px;">
			{{ image.secure_url || NO_IMAGE }}
		</div>
-->
		<div class="user-name h1">
			{{ user.name }}
		</div>
		<hr />
		<pre>{{ user | jsonFormatter }}</pre>
	</div>
</div>