<!--
class DataBit
	visibility: boolean
	type: string
	typeReadable: string
end

class BarcodeDatabit < databit
	barcode: string
	encodable: string
end

class PhotoDataBit < DataBit
	expiration: date
	photo: Models::UserImage
end

class BirthdayDataBit < DataBit
	field :birthdate, :type => Date
end

class HealthDataBit < DataBit
	expiration: date
	contactMethod: String ([:phone, :text, :email])
	condition: String
	treatment: String
end

class PhoneDataBit < DataBit
	number: String
	confirmed: Boolean
end
-->

<div class="list card card-light">
	<div class="card">
		<div class="item item-light item-divider icon icon-left {{ databit.type | databitIconClass }}">
			{{ databit.typeReadable }}
		</div>
		<div class="item item-text-wrap item-{{ databit.expiration | databitExpirationClassname }}" ng-if="!!databit.expiration">
			{{ databit.expiration | humanReadableDate }}
		</div>
		<div class="item item-light item-text-wrap" ng-switch="databit.type">
			<sprtid-databit-barcode ng-switch-when="BarcodeDataBit" databit="databit"></sprtid-databit-barcode>
			<sprtid-databit-birthday ng-switch-when="BirthdayDataBit" databit="databit"></sprtid-databit-birthday>
			<pre ng-switch-default>{{ databit | jsonFormatter }}</pre>
		</div>
		<div class="item item-light item-divider">
			<span class="icon icon-left {{ databit.visibility | databitVisibilityClass }}">
				{{ databit.visibility }}
			</span>
			<button class="button button-icon ion-close" ng-click="onDelete({databit: databit})"></button>
		</div>
	</div>
</div>
