<h1>Home</h1>
<div ng-repeat="event in (user | history | orderBy : '-createdAt')" class="list card card-light">
	<div class="card">
		<div ng-if="event.scannedUserId === event.scanningUserId">
			<div class="item item-stable item-divider icon icon-left ion-loop">
				<em>Self-Checkin: {{ event.method }} via {{ event.device }}, {{ event.createdAt | humanReadableDateSince }} ago</em>
			</div>
		</div>
		<div ng-if="event.scannedUserId !== event.scanningUserId">
			<sprtid-history-checkin checkin="event" ng-if="event.scannedUserId === user.id"></sprtid-history-checkin>
			<sprtid-history-scan    scan="event"    ng-if="event.scanningUserId === user.id"></sprtid-history-scan>
		</div>
	</div>
</div>
