/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald/Oswald-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 6, ../../scss/pages/_auth.scss */
body.auth-screen {
  background-color: #95a5a6;
}
/* line 9, ../../scss/pages/_auth.scss */
body.auth-screen #top-banner {
  background-color: #86979a;
}
/* line 12, ../../scss/pages/_auth.scss */
body.auth-screen #top-banner .location-icon {
  color: #95a5a6;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 6, ../../scss/pages/_checkin.scss */
body.checkin-screen {
  background-color: #9b59b6;
}
/* line 9, ../../scss/pages/_checkin.scss */
body.checkin-screen #top-banner {
  background-color: #8b52a8;
}
/* line 12, ../../scss/pages/_checkin.scss */
body.checkin-screen #top-banner .location-icon {
  color: #9b59b6;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 6, ../../scss/pages/_create.scss */
body.create-screen {
  background-color: #e67e22;
}
/* line 9, ../../scss/pages/_create.scss */
body.create-screen #top-banner {
  background-color: #cf7323;
}
/* line 12, ../../scss/pages/_create.scss */
body.create-screen #top-banner .location-icon {
  color: #e67e22;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 3, ../../scss/pages/_home.scss */
body.home-screen {
  min-height: 100%;
  zoom: 1;
}
/* line 8, ../../scss/_mixins.scss */
body.home-screen:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
/* line 10, ../../scss/pages/_home.scss */
body.home-screen .home-navigation {
  margin: 0 auto;
  width: 95%;
  list-style-type: none;
  zoom: 1;
}
/* line 8, ../../scss/_mixins.scss */
body.home-screen .home-navigation:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
/* line 18, ../../scss/pages/_home.scss */
body.home-screen .navigation-link {
  position: relative;
  width: 48%;
  padding-bottom: 48%;
  box-sizing: border-box;
  display: block;
  float: left;
}
/* line 26, ../../scss/pages/_home.scss */
body.home-screen .navigation-link:nth-child(2n+1) {
  margin-right: 4%;
}
/* line 29, ../../scss/pages/_home.scss */
body.home-screen .navigation-link:nth-child(n+3) {
  margin-top: 4%;
}
/* line 33, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  color: #ecf0f1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
/* line 56, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a.create {
  background-color: #e67e22;
}
/* line 56, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a.scan {
  background-color: #2ecc71;
}
/* line 56, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a.settings {
  background-color: #f1c40f;
}
/* line 56, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a.shop {
  background-color: #3498db;
}
/* line 56, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a.user {
  background-color: #e74c3c;
}
/* line 56, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a.auth {
  background-color: #95a5a6;
}
/* line 56, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a.checkin {
  background-color: #9b59b6;
}
/* line 62, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a .icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  display: block;
  font-size: 100px;
  color: #ecf0f1;
}
/* line 74, ../../scss/pages/_home.scss */
body.home-screen .navigation-link a .navigation-label {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 6, ../../scss/pages/_login.scss */
body.login-screen,
body.signup-screen {
  background-color: #95a5a6;
}
/* line 10, ../../scss/pages/_login.scss */
body.login-screen #top-banner,
body.signup-screen #top-banner {
  background-color: #86979a;
}
/* line 13, ../../scss/pages/_login.scss */
body.login-screen #top-banner .location-icon,
body.signup-screen #top-banner .location-icon {
  color: #95a5a6;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 6, ../../scss/pages/_scan.scss */
body.scan-screen {
  background-color: #2ecc71;
}
/* line 9, ../../scss/pages/_scan.scss */
body.scan-screen #top-banner {
  background-color: #29ba6a;
}
/* line 12, ../../scss/pages/_scan.scss */
body.scan-screen #top-banner .location-icon {
  color: #2ecc71;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 6, ../../scss/pages/_settings.scss */
body.settings-screen {
  background-color: #f1c40f;
}
/* line 9, ../../scss/pages/_settings.scss */
body.settings-screen #top-banner {
  background-color: #d9b212;
}
/* line 12, ../../scss/pages/_settings.scss */
body.settings-screen #top-banner .location-icon {
  color: #f1c40f;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 6, ../../scss/pages/_shop.scss */
body.shop-screen {
  background-color: #3498db;
}
/* line 9, ../../scss/pages/_shop.scss */
body.shop-screen #top-banner {
  background-color: #2f8bc9;
}
/* line 12, ../../scss/pages/_shop.scss */
body.shop-screen #top-banner .location-icon {
  color: #3498db;
}

@media all and (orientation: landscape) {
  /* line 17, ../../scss/_variables.scss */
  body,
  .ionic-body {
    font-size: 14px;
    font-size: 2vw;
  }
}
/* line 8, ../../scss/pages/_user.scss */
body.user-screen {
  background-color: #e74c3c;
}
/* line 11, ../../scss/pages/_user.scss */
body.user-screen #top-banner {
  background-color: #d0463a;
}
/* line 14, ../../scss/pages/_user.scss */
body.user-screen #top-banner .location-icon {
  color: #e74c3c;
}
/* line 19, ../../scss/pages/_user.scss */
body.user-screen .page-content {
  position: relative;
}
/* line 22, ../../scss/pages/_user.scss */
body.user-screen .page-content .user-image {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}
/* line 26, ../../scss/pages/_user.scss */
body.user-screen .page-content .user-name {
  font-size: 5em;
  line-height: 1em;
}

/* line 18, ../../scss/sprtid.scss */
html,
body {
  min-height: 100%;
  min-width: 100%;
  color: #ecf0f1;
  background: #04192e;
  font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../../scss/sprtid.scss */
html {
  height: 100%;
}

/* line 33, ../../scss/sprtid.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  color: #ecf0f1;
}
/* line 39, ../../scss/sprtid.scss */
h1.default, h2.default, h3.default, h4.default, h5.default, h6.default,
.h1.default, .h2.default, .h3.default, .h4.default, .h5.default, .h6.default {
  color: #ecf0f1, #d4dadd !important;
}
/* line 43, ../../scss/sprtid.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
.h1 span, .h2 span, .h3 span, .h4 span, .h5 span, .h6 span {
  font-weight: normal;
}
/* line 47, ../../scss/sprtid.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  text-decoration: none;
  color: inherit;
}
/* line 52, ../../scss/sprtid.scss */
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em,
.h1 em, .h2 em, .h3 em, .h4 em, .h5 em, .h6 em {
  color: #ecf0f1;
}

/* line 62, ../../scss/sprtid.scss */
h1, .h1 {
  line-height: 52px;
  font-size: 52px;
}

/* line 62, ../../scss/sprtid.scss */
h2, .h2 {
  line-height: 44px;
  font-size: 44px;
}

/* line 62, ../../scss/sprtid.scss */
h3, .h3 {
  line-height: 37px;
  font-size: 37px;
}

/* line 62, ../../scss/sprtid.scss */
h4, .h4 {
  line-height: 29px;
  font-size: 29px;
}

/* line 62, ../../scss/sprtid.scss */
h5, .h5 {
  line-height: 21px;
  font-size: 21px;
}

/* line 62, ../../scss/sprtid.scss */
h6, .h6 {
  line-height: 14px;
  font-size: 14px;
}

/* line 68, ../../scss/sprtid.scss */
a,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

/* line 74, ../../scss/sprtid.scss */
#viewport {
  min-height: 100%;
}

/* line 80, ../../scss/sprtid.scss */
#top-banner {
  position: relative;
  border-bottom: 1px solid #ecf0f1;
  padding: 0;
  background: #031629;
  overflow: hidden;
}
/* line 88, ../../scss/sprtid.scss */
#top-banner .location-icon {
  position: absolute;
  top: -25px;
  left: -25px;
  width: auto;
  color: #04192e;
  font-size: 160px;
  z-index: 0;
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
/* line 100, ../../scss/sprtid.scss */
#top-banner .navigation-location {
  position: relative;
  display: block;
  font-size: 60px;
  line-height: 60px;
  padding-top: 25px;
  padding-right: 25px;
  text-align: right;
  z-index: 1;
}
/* line 111, ../../scss/sprtid.scss */
#top-banner .navigation-back {
  position: absolute;
  left: 25px;
  top: 25px;
  color: #ecf0f1;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  z-index: 2;
}

/* line 122, ../../scss/sprtid.scss */
.page-content {
  padding: 25px;
}

/* line 126, ../../scss/sprtid.scss */
#footer-navigation {
  zoom: 1;
}
/* line 8, ../../scss/_mixins.scss */
#footer-navigation:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  visibility: hidden;
}
/* line 129, ../../scss/sprtid.scss */
#footer-navigation .navigation-link {
  float: left;
}

/*RG Style Recomendations*/
/* line 135, ../../scss/sprtid.scss */
.bar-header {
  background: none !important;
  border: none !important;
}

/* line 140, ../../scss/sprtid.scss */
.card .item {
  background: #fff;
  color: #666;
}

/* line 145, ../../scss/sprtid.scss */
p.centered {
  text-align: center;
}
